<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ke.seckill.mapper.OrdersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ke.seckill.entity.Orders">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="good_id" property="goodId" />
        <result column="delivery_addr_id" property="deliveryAddrId" />
        <result column="good_name" property="goodName" />
        <result column="good_count" property="goodCount" />
        <result column="good_price" property="goodPrice" />
        <result column="order_channel" property="orderChannel" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
        <result column="pay_date" property="payDate" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, good_id, delivery_addr_id, good_name, good_count, good_price, order_channel, status, create_date, pay_date
    </sql>
    
    <insert id="createOrder" parameterType="com.ke.seckill.entity.Orders" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO
          orders(user_id, good_id, delivery_addr_id, good_name, good_count, good_price, order_channel, status, create_date, pay_date)
        VALUES
          (#{userId}, #{goodId}, #{deliveryAddrId}, #{goodName}, #{goodCount}, #{goodPrice}, #{orderChannel}, #{status}, #{createDate}, #{payDate})
    </insert>

</mapper>
